body {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #000000;
}

.contact {
    margin-top: 5px;
    font-size: 14px;
}

hr {
    border: 0;
    border-top: 2px solid #000000;
    margin: 10px 0 20px 0;
}

.section {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
}

.section-title {
    width: 25%;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.section-content {
    width: 75%;
    text-align: left;
}


