body {
background: #6145A1;
font-family: "Times New Roman", Times, serif;
color: #E0D428;
font-size: 20px;
}
h1 {
color: #E0D428;
text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
}
.projects h2 {
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;

}
.project img{
    width: 400px;
    height: 400px;
    margin: 10px auto;
    border: 2px solid #2b28e0; /* choose a color */
    display: block;
    text-align: center;
    margin: auto;
}

a { /* change the appearance of ALL links */
    text-decoration: none;
    color: #02105f;
}

.project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
}
